

/*===================================================================================*/
/*	CUSTOM CSS STYLES
/*===================================================================================*/

/* Insert your own styles in here! */

.white-text {
    color: white;
}

.blue-background
{
    background-image: url("/assets/images/art/pattern-background02.png");
    color: white;
}

#owl-main .item {
    height: 60vh;
}

#owl-main .caption.text-center {
    padding-left: 0;
    padding-right: 0;
}

.more-info {
    background-image: url("/assets/images/formula1a.jpg");
    color: white;
}

.more-info #triangle {
    position: absolute;
    z-index: 1;
    top: 0;
}

section#hero iframe {
    position: absolute;
    top: -150px;
    left:0;
    min-width: 100%;
    min-height: 100%;
}

section#hero .overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(112, 128, 144, 0.3);
}

section.sub-hero {
    background-size: cover;
    background-position: center, center;
    background-repeat: no-repeat;
    background-image: url('/assets/images/home-carbon-fiberBLACK.jpg');
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
}

section.sub-hero > div:nth-child(2) {
    width: 200px;
    display: flex;
    justify-content: center;
}

footer .miusa {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

footer .miusa > div:first-child{
    margin-right: 10px;
    padding-top: 5px;
}
